@font-face {
    font-family: 'cellunatic';
    src:url('/fonts/coursive2.ttf');
}
*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    border:none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    background:url('/img/bg.webp') center /* rgb(5,5,5) */;
    background-size: cover;
    background-color: rgba(0,0,0, .5);
    background-blend-mode: darken;
    background-attachment: fixed;
}
footer{
    background-color: rgba(0,0,0, .7) !important;
}
.containerForm {
    width:100%;
    height:100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.coursive{
    font-family: 'cellunatic' !important;
}