
.galaxy {
  display: flex;
  align-items: center;
  justify-content: center;
}
.origin,
.control,
.galaxy,
.star {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.origin {
  overflow: hidden;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100vw;
  height:100vh;
  z-index:-1;
  background: radial-gradient(circle at top, rgb(0, 1, 19) 0, rgb(0, 0, 0) 70%);
  -webkit-transform: translate3d(0vw, 0vh, 0vmin);
          transform: translate3d(0vw, 0vh, 0vmin);
}

.control {
  -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
  -webkit-animation: appear 20s linear forwards;
          animation: appear 20s linear forwards;
}

.galaxy {
  -webkit-animation: rotation 20s linear infinite;
          animation: rotation 20s linear infinite;
}

.star, .star::before, .star::after {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          z-index:9999999;
}
.star::before, .star::after {
  background: var(--background);
  border-radius: 50%;
  box-shadow: var(--shadow);
  content: '';
  height: var(--size);
  width: var(--size);
}
.star::before {
  -webkit-transform: var(--transform);
          transform: var(--transform);
}
.star::after {
  -webkit-transform: scale3d(-1, -1, -1) var(--transform);
          transform: scale3d(-1, -1, -1) var(--transform);
}

.star:nth-of-type(1) {
  --size: 0.2835921021vmin;
  --background: #642674;
  --shadow: 0 0 0.1750153474vmin 0.0363164749vmin #642674;
  --transform: rotate3d(1, 0, 0, 328deg) rotate3d(0, 1, 0, 135deg) rotate3d(0, 0, 1, 96deg) translate3d(0, 0, 82.541015291vmin)
  ;
}

.star:nth-of-type(2) {
  --size: 0.7413082831vmin;
  --background: #fff299;
  --shadow: 0 0 0.6505248375vmin 0.3246593503vmin #fff4ad;
  --transform: rotate3d(1, 0, 0, 172deg) rotate3d(0, 1, 0, 111deg) rotate3d(0, 0, 1, 130deg) translate3d(0, 0, 87.5727103039vmin)
  ;
}

.star:nth-of-type(3) {
  --size: 0.4260554564vmin;
  --background: #8380f5;
  --shadow: 0 0 0.5861517082vmin 0.2004683041vmin #8380f5;
  --transform: rotate3d(1, 0, 0, 250deg) rotate3d(0, 1, 0, 310deg) rotate3d(0, 0, 1, 317deg) translate3d(0, 0, 78.8602777857vmin)
  ;
}

.star:nth-of-type(4) {
  --size: 0.7103443369vmin;
  --background: #f2eda3;
  --shadow: 0 0 0.7010757604vmin 0.2007248801vmin #f2eda3;
  --transform: rotate3d(1, 0, 0, 69deg) rotate3d(0, 1, 0, 100deg) rotate3d(0, 0, 1, 83deg) translate3d(0, 0, 87.0936338506vmin)
  ;
}

.star:nth-of-type(5) {
  --size: 0.663428383vmin;
  --background: #722b83;
  --shadow: 0 0 0.80461304vmin 0.2224569914vmin #722b83;
  --transform: rotate3d(1, 0, 0, 5deg) rotate3d(0, 1, 0, 265deg) rotate3d(0, 0, 1, 118deg) translate3d(0, 0, 88.4998499479vmin)
  ;
}

.star:nth-of-type(6) {
  --size: 0.7176506352vmin;
  --background: #eee784;
  --shadow: 0 0 0.3877486259vmin 0.3321995916vmin #f4efb0;
  --transform: rotate3d(1, 0, 0, 91deg) rotate3d(0, 1, 0, 309deg) rotate3d(0, 0, 1, 358deg) translate3d(0, 0, 89.2378760161vmin)
  ;
}

.star:nth-of-type(7) {
  --size: 0.310865557vmin;
  --background: #642674;
  --shadow: 0 0 0.3792362228vmin 0.0753154867vmin #642674;
  --transform: rotate3d(1, 0, 0, 315deg) rotate3d(0, 1, 0, 109deg) rotate3d(0, 0, 1, 267deg) translate3d(0, 0, 86.8954812814vmin)
  ;
}

.star:nth-of-type(8) {
  --size: 0.7206382278vmin;
  --background: #5a2268;
  --shadow: 0 0 0.4802848584vmin 0.3214256666vmin #682878;
  --transform: rotate3d(1, 0, 0, 331deg) rotate3d(0, 1, 0, 113deg) rotate3d(0, 0, 1, 309deg) translate3d(0, 0, 71.2468353149vmin)
  ;
}

.star:nth-of-type(9) {
  --size: 0.424013172vmin;
  --background: #6b297c;
  --shadow: 0 0 0.4529582791vmin 0.0383392416vmin #6b297c;
  --transform: rotate3d(1, 0, 0, 223deg) rotate3d(0, 1, 0, 352deg) rotate3d(0, 0, 1, 277deg) translate3d(0, 0, 79.1411897476vmin)
  ;
}

.star:nth-of-type(10) {
  --size: 0.7107513334vmin;
  --background: #ff5880;
  --shadow: 0 0 0.9962013414vmin 0.1962571025vmin #ff5880;
  --transform: rotate3d(1, 0, 0, 101deg) rotate3d(0, 1, 0, 107deg) rotate3d(0, 0, 1, 16deg) translate3d(0, 0, 70.1759644933vmin)
  ;
}

.star:nth-of-type(11) {
  --size: 0.5707603905vmin;
  --background: #6b297c;
  --shadow: 0 0 0.3749602159vmin 0.200128313vmin #6b297c;
  --transform: rotate3d(1, 0, 0, 243deg) rotate3d(0, 1, 0, 77deg) rotate3d(0, 0, 1, 193deg) translate3d(0, 0, 71.7100001416vmin)
  ;
}

.star:nth-of-type(12) {
  --size: 0.5798447244vmin;
  --background: #6c69f3;
  --shadow: 0 0 0.5713127208vmin 0.1327069878vmin #7e7bf5;
  --transform: rotate3d(1, 0, 0, 205deg) rotate3d(0, 1, 0, 54deg) rotate3d(0, 0, 1, 42deg) translate3d(0, 0, 80.4488561184vmin)
  ;
}

.star:nth-of-type(13) {
  --size: 0.677564678vmin;
  --background: #8df48e;
  --shadow: 0 0 0.3432892544vmin 0.1001157273vmin #bbf8bc;
  --transform: rotate3d(1, 0, 0, 120deg) rotate3d(0, 1, 0, 110deg) rotate3d(0, 0, 1, 201deg) translate3d(0, 0, 82.7612765812vmin)
  ;
}

.star:nth-of-type(14) {
  --size: 0.4961091404vmin;
  --background: #13a9e9;
  --shadow: 0 0 0.4328784371vmin 0.2340385488vmin #2cb4ee;
  --transform: rotate3d(1, 0, 0, 357deg) rotate3d(0, 1, 0, 143deg) rotate3d(0, 0, 1, 266deg) translate3d(0, 0, 78.8844240801vmin)
  ;
}

.star:nth-of-type(15) {
  --size: 0.4095470191vmin;
  --background: #12a2e0;
  --shadow: 0 0 0.5125966447vmin 0.0001667585vmin #36b7ef;
  --transform: rotate3d(1, 0, 0, 359deg) rotate3d(0, 1, 0, 298deg) rotate3d(0, 0, 1, 311deg) translate3d(0, 0, 76.3303084405vmin)
  ;
}

.star:nth-of-type(16) {
  --size: 0.7408991482vmin;
  --background: #ea1b90;
  --shadow: 0 0 0.5636452941vmin 0.3366402359vmin #ea1b90;
  --transform: rotate3d(1, 0, 0, 54deg) rotate3d(0, 1, 0, 19deg) rotate3d(0, 0, 1, 167deg) translate3d(0, 0, 70.4007677602vmin)
  ;
}

.star:nth-of-type(17) {
  --size: 0.5275932186vmin;
  --background: #dd1486;
  --shadow: 0 0 0.3797963007vmin 0.1531168848vmin #eb2495;
  --transform: rotate3d(1, 0, 0, 178deg) rotate3d(0, 1, 0, 222deg) rotate3d(0, 0, 1, 277deg) translate3d(0, 0, 72.288528018vmin)
  ;
}

.star:nth-of-type(18) {
  --size: 0.5093118435vmin;
  --background: #ea1b90;
  --shadow: 0 0 0.3970329884vmin 0.0773944724vmin #ea1b90;
  --transform: rotate3d(1, 0, 0, 268deg) rotate3d(0, 1, 0, 327deg) rotate3d(0, 0, 1, 46deg) translate3d(0, 0, 76.8482204992vmin)
  ;
}

.star:nth-of-type(19) {
  --size: 0.6952201696vmin;
  --background: #f4efb0;
  --shadow: 0 0 0.5488628261vmin 0.0060727272vmin #f4efb0;
  --transform: rotate3d(1, 0, 0, 51deg) rotate3d(0, 1, 0, 92deg) rotate3d(0, 0, 1, 131deg) translate3d(0, 0, 76.3199369121vmin)
  ;
}

.star:nth-of-type(20) {
  --size: 0.6499208005vmin;
  --background: #f46f6f;
  --shadow: 0 0 0.8953697874vmin 0.0508831665vmin #f89f9f;
  --transform: rotate3d(1, 0, 0, 247deg) rotate3d(0, 1, 0, 336deg) rotate3d(0, 0, 1, 52deg) translate3d(0, 0, 75.7195953194vmin)
  ;
}

.star:nth-of-type(21) {
  --size: 0.4313161361vmin;
  --background: #ff76ad;
  --shadow: 0 0 0.3734112201vmin 0.0457078964vmin #ff80b3;
  --transform: rotate3d(1, 0, 0, 102deg) rotate3d(0, 1, 0, 353deg) rotate3d(0, 0, 1, 150deg) translate3d(0, 0, 84.5243263407vmin)
  ;
}

.star:nth-of-type(22) {
  --size: 0.3240513094vmin;
  --background: #8885f5;
  --shadow: 0 0 0.4107185309vmin 0.1598999491vmin #8885f5;
  --transform: rotate3d(1, 0, 0, 4deg) rotate3d(0, 1, 0, 56deg) rotate3d(0, 0, 1, 19deg) translate3d(0, 0, 68.252893429vmin)
  ;
}

.star:nth-of-type(23) {
  --size: 0.6749804977vmin;
  --background: #ff5880;
  --shadow: 0 0 0.4141135488vmin 0.1769542018vmin #ff5880;
  --transform: rotate3d(1, 0, 0, 358deg) rotate3d(0, 1, 0, 231deg) rotate3d(0, 0, 1, 134deg) translate3d(0, 0, 67.9039057691vmin)
  ;
}

.star:nth-of-type(24) {
  --size: 0.6867114982vmin;
  --background: #f3efac;
  --shadow: 0 0 0.6317027386vmin 0.1537394151vmin #f3efac;
  --transform: rotate3d(1, 0, 0, 14deg) rotate3d(0, 1, 0, 237deg) rotate3d(0, 0, 1, 354deg) translate3d(0, 0, 68.1685987935vmin)
  ;
}

.star:nth-of-type(25) {
  --size: 0.2975356259vmin;
  --background: #8df48e;
  --shadow: 0 0 0.4398389524vmin 0.1469801421vmin #bbf8bc;
  --transform: rotate3d(1, 0, 0, 359deg) rotate3d(0, 1, 0, 97deg) rotate3d(0, 0, 1, 147deg) translate3d(0, 0, 72.8612817003vmin)
  ;
}

.star:nth-of-type(26) {
  --size: 0.2837776299vmin;
  --background: #f68c8c;
  --shadow: 0 0 0.3889918047vmin 0.0249919736vmin #f68c8c;
  --transform: rotate3d(1, 0, 0, 5deg) rotate3d(0, 1, 0, 61deg) rotate3d(0, 0, 1, 110deg) translate3d(0, 0, 87.1599145942vmin)
  ;
}

.star:nth-of-type(27) {
  --size: 0.5670151251vmin;
  --background: #6b297c;
  --shadow: 0 0 0.6020377769vmin 0.150933111vmin #6b297c;
  --transform: rotate3d(1, 0, 0, 234deg) rotate3d(0, 1, 0, 215deg) rotate3d(0, 0, 1, 198deg) translate3d(0, 0, 71.7383274494vmin)
  ;
}

.star:nth-of-type(28) {
  --size: 0.4194113403vmin;
  --background: #ff8fbc;
  --shadow: 0 0 0.38499725vmin 0.0846148475vmin #ff8fbc;
  --transform: rotate3d(1, 0, 0, 84deg) rotate3d(0, 1, 0, 61deg) rotate3d(0, 0, 1, 313deg) translate3d(0, 0, 80.6542144621vmin)
  ;
}

.star:nth-of-type(29) {
  --size: 0.605556292vmin;
  --background: #fbfcfd;
  --shadow: 0 0 0.8654118937vmin 0.1521606756vmin #fbfcfd;
  --transform: rotate3d(1, 0, 0, 136deg) rotate3d(0, 1, 0, 191deg) rotate3d(0, 0, 1, 329deg) translate3d(0, 0, 81.3092544414vmin)
  ;
}

.star:nth-of-type(30) {
  --size: 0.4811772514vmin;
  --background: #b2f7b3;
  --shadow: 0 0 0.3313041848vmin 0.1300370323vmin #b2f7b3;
  --transform: rotate3d(1, 0, 0, 16deg) rotate3d(0, 1, 0, 104deg) rotate3d(0, 0, 1, 62deg) translate3d(0, 0, 73.868380679vmin)
  ;
}

.star:nth-of-type(31) {
  --size: 0.4767887783vmin;
  --background: #f1f4f7;
  --shadow: 0 0 0.5256370696vmin 0.193330741vmin #f1f4f7;
  --transform: rotate3d(1, 0, 0, 308deg) rotate3d(0, 1, 0, 56deg) rotate3d(0, 0, 1, 249deg) translate3d(0, 0, 75.3259937348vmin)
  ;
}

.star:nth-of-type(32) {
  --size: 0.3488615182vmin;
  --background: #eee784;
  --shadow: 0 0 0.1783888201vmin 0.0877796286vmin #f4efb0;
  --transform: rotate3d(1, 0, 0, 22deg) rotate3d(0, 1, 0, 56deg) rotate3d(0, 0, 1, 120deg) translate3d(0, 0, 87.9945198278vmin)
  ;
}

.star:nth-of-type(33) {
  --size: 0.6272794925vmin;
  --background: #7e7bf5;
  --shadow: 0 0 0.4018138602vmin 0.0036085878vmin #7e7bf5;
  --transform: rotate3d(1, 0, 0, 72deg) rotate3d(0, 1, 0, 4deg) rotate3d(0, 0, 1, 108deg) translate3d(0, 0, 74.9429716204vmin)
  ;
}

.star:nth-of-type(34) {
  --size: 0.5980763449vmin;
  --background: #f68c8c;
  --shadow: 0 0 0.609028633vmin 0.0206698956vmin #f68c8c;
  --transform: rotate3d(1, 0, 0, 43deg) rotate3d(0, 1, 0, 294deg) rotate3d(0, 0, 1, 120deg) translate3d(0, 0, 76.1165457048vmin)
  ;
}

.star:nth-of-type(35) {
  --size: 0.6185383144vmin;
  --background: #eee784;
  --shadow: 0 0 0.372974437vmin 0.1348613878vmin #f4efb0;
  --transform: rotate3d(1, 0, 0, 184deg) rotate3d(0, 1, 0, 2deg) rotate3d(0, 0, 1, 25deg) translate3d(0, 0, 67.3368436297vmin)
  ;
}

.star:nth-of-type(36) {
  --size: 0.4141415773vmin;
  --background: #ff8fbc;
  --shadow: 0 0 0.5083147474vmin 0.0947692398vmin #ff8fbc;
  --transform: rotate3d(1, 0, 0, 200deg) rotate3d(0, 1, 0, 4deg) rotate3d(0, 0, 1, 111deg) translate3d(0, 0, 80.5099805988vmin)
  ;
}

.star:nth-of-type(37) {
  --size: 0.464004449vmin;
  --background: #31b6ef;
  --shadow: 0 0 0.4434728559vmin 0.0845349624vmin #31b6ef;
  --transform: rotate3d(1, 0, 0, 331deg) rotate3d(0, 1, 0, 5deg) rotate3d(0, 0, 1, 207deg) translate3d(0, 0, 73.7570183556vmin)
  ;
}

.star:nth-of-type(38) {
  --size: 0.4698868978vmin;
  --background: #e8edf1;
  --shadow: 0 0 0.3505111485vmin 0.0437121938vmin #f4f7f9;
  --transform: rotate3d(1, 0, 0, 121deg) rotate3d(0, 1, 0, 85deg) rotate3d(0, 0, 1, 48deg) translate3d(0, 0, 73.9383472235vmin)
  ;
}

.star:nth-of-type(39) {
  --size: 0.5291774426vmin;
  --background: #eee784;
  --shadow: 0 0 0.6760046753vmin 0.2242731162vmin #f4efb0;
  --transform: rotate3d(1, 0, 0, 99deg) rotate3d(0, 1, 0, 353deg) rotate3d(0, 0, 1, 352deg) translate3d(0, 0, 77.1554461862vmin)
  ;
}

.star:nth-of-type(40) {
  --size: 0.397408839vmin;
  --background: #eb2495;
  --shadow: 0 0 0.4577027818vmin 0.1326726142vmin #eb2495;
  --transform: rotate3d(1, 0, 0, 283deg) rotate3d(0, 1, 0, 238deg) rotate3d(0, 0, 1, 22deg) translate3d(0, 0, 85.7114320814vmin)
  ;
}



@-webkit-keyframes rotation {
  100% {
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
            transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes rotation {
  100% {
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
            transform: rotate3d(1, 1, 1, 360deg);
  }
}
@-webkit-keyframes appear {
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes appear {
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes scale {
  0%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
            transform: scale3d(0.75, 0.75, 0.75);
  }
}
@keyframes scale {
  0%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
            transform: scale3d(0.75, 0.75, 0.75);
  }
}
